@using MBran.Models
@using MBran.Components.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @(Html.Component<MetaTagHeader>())
</head>
<body>
    <div>
        @(Html.Component<ContentHeader>())
    </div>
    <div>
        @(Html.Component<ContentModule>())
    </div>
    <div>
        @RenderBody()
        @*@(Html.Component<MetaTagHeader>(Model))
        @(Html.Component<MetaTagHeader>("~/Views/Components/Meta.cshtml"))
        @(Html.Component<MetaTagHeader>("~/Views/Components/Meta.cshtml", Model))
        @(Html.Component(Model))
        @(Html.Component(Model, "~/Views/Components/Meta.cshtml"))*@
    </div>
    <div></div>
</body>
</html>
