@using MBran.Components.MetaHeader
@using MBran.Components.Favicon
@using MBran.Components.Navigation
@using MBran.Modules.Content
@using MBran.Components.Contact
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @(Html.Component<FaviconComponent>())
    @(Html.Component<MetaTitleComponent>())
</head>
<body>
    <div>@(Html.Component<NavigationHeaderComponent>())</div>
    <div>
        @(Html.Module<ContentPageModule>())
        @RenderBody()
        @(Html.Component<ContactDetailsComponent>())
    </div>
    <div>@(Html.Component<NavigationFooterComponent>())</div>
</body>
</html>
