@model MBran.Models.ContactPerson

@if(Model != null)
{
    <div>@Model.ContactName</div>
    <div>@Model.ContactEmail</div>
    <div>@Model.ContactPhone</div>
    <div>@Model.ContactMobile</div>
    <div>@Model.ContactFax</div>
}